* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../img/bg-hero.png);
    background-size: cover;
    color: white;
}

@media (max-width: 900px) {
    #img1 {
        display: none;
    }
    #img2 {
        display: none;
    }
}